<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Signup</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="SignUpInputDiv">
    <ion-card id="signincard">
      <ion-label class="border">Enter Email: -</ion-label>
      <ion-input class="border" type="text" autocomplete="off" placeholder="Enter Email Here" [(ngModel)]="username"></ion-input>
      <br>
      <ion-label class="border">Enter Password: -</ion-label>
      <ion-input class="border" type="password" autocomplete="off" placeholder="Enter Password Here" [(ngModel)]="password"></ion-input>
      <br>
      <ion-label class="border">Confirm Password: -</ion-label>
      <ion-input class="border" type="password" autocomplete="off" placeholder="Enter Confirmed Password Here" [(ngModel)]="confirmpassword"></ion-input>
    </ion-card>
  </div>
  <ion-button expand="block" color="warning" (click)="SignUp()">Confirm</ion-button>
</ion-content>
